[gcode_macro _HOME_X]
gcode:
    ## Set HOME_CURRENT to the current value that was in effect when you calculated stallguard sensitivity.  
    ## This should initially be what is set in your printer.cfg file for the x & y steppers.  
    ## Having this here will allow you to change motor current values in the printer.cfg file in the future while 
    ## eliminating the need to recalculate stall guard sensitivity.
    {% set RUN_CURRENT_X = printer.configfile.settings['tmc2209 stepper_x'].run_current|float %}
    {% set RUN_CURRENT_Y = printer.configfile.settings['tmc2209 stepper_y'].run_current|float %}
    {% set HOME_CURRENT = 0.8 %}  ## Change this to the vlaue you used when calibrating stallguard.  In your printer.cfg.
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CURRENT}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CURRENT}

    ## Uncomment the following to temporarily change acceleration if you are getting TMC Driver Undercurrent errors. 
    #{% set RUN_ACCEL = printer.configfile.settings['printer'].max_accel|int %}	
    #{% set HOME_ACCEL = 1000 %}
    #SET_VELOCITY_LIMIT ACCEL={HOME_ACCEL}

    ## Home
    G28 X0
    ## Move away
    G91
    G1 X-10 F1200
    
    G4 P2000  # Wait 2 seconds… (give StallGuard registers time to clear).  You may need to give this more time if it's not reliable.

    ##  Set the current back to what's in the printer.cfg file. 
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CURRENT_X}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CURRENT_Y}

    ## Only uncomment if the code to modify acceleration above was uncommented.
    #SET_VELOCITY_LIMIT ACCEL={RUN_ACCEL}

[gcode_macro _HOME_Y]
gcode:
    ## Set HOME_CURRENT to the current value that was in effect when you calculated stallguard sensitivity.  
    ## This should initially be what is set in your printer.cfg file for the x & y steppers.  
    ## Having this here will allow you to change motor current values in the printer.cfg file in the future while 
    ## eliminating the need to recalculate stall guard sensitivity.
    {% set RUN_CURRENT_X = printer.configfile.settings['tmc2209 stepper_x'].run_current|float %}
    {% set RUN_CURRENT_Y = printer.configfile.settings['tmc2209 stepper_y'].run_current|float %}
    {% set HOME_CURRENT = 0.8 %}   ## Change this to the vlaue you used when calibrating stallguard.  In your printer.cfg.
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CURRENT}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CURRENT}

    ## Uncomment the following to temporarily change acceleration if you are getting TMC Driver Undercurrent errors.
    #{% set RUN_ACCEL = printer.configfile.settings['printer'].max_accel|int %}	
    #{% set HOME_ACCEL = 1000 %}
    #SET_VELOCITY_LIMIT ACCEL={HOME_ACCEL}

    # Home
    G28 Y0

    # Move away so the x-axis is no longer touching the back of the gantry
    G91
    G1 Y-10 F1200

    G4 P2000  # Wait 2 seconds… (give StallGuard registers time to clear).  You may need to give this more time if it's not reliable.

    ##  Set the current back to what's in the printer.cfg file. 
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CURRENT_X}
    SET_TMC_CURRENT STEPPER=stepper_y CURRENT={RUN_CURRENT_Y}

    ## Only uncomment if the code to modify acceleration above was uncommented.
    #SET_VELOCITY_LIMIT ACCEL={RUN_ACCEL}
    
    
[homing_override]
axes: xyz
set_position_z: 5
gcode:
  
	SAVE_GCODE_STATE NAME=HOMING
	
	{% set Z_HOP = 10 | int %}                ;Set z hop height
	{% set ENABLE_Z_HOP = True %}             ;Set whether to use z hop or not
	{% set HOMING_SPEED = 60 | int %}         ;Set speed to move to the z home location
	{% set HOME_Z_X_POS = 175 | int %}        ;Set X position for z homing
	{% set HOME_Z_Y_POS = 175 | int %}        ;Set Y position for z homing
	{% set ENABLE_Z_HOME_POS = True %}       ;Whether to enable xy postion for z homing


  {% set home_all = 'X' not in params and 'Y' not in params and 'Z' not in params %}

  {% if home_all or 'X' in params %}
    {% if ENABLE_Z_HOP %}
			G0 Z{Z_HOP} F1000
		{% endif %}
      _HOME_X
  {% endif %}

  {% if home_all or 'Y' in params %}
    {% if ENABLE_Z_HOP %}
			G0 Z{Z_HOP} F1000
		{% endif %}
    _HOME_Y
  {% endif %}
  
  {% if home_all or 'Z' in params %}
		{% if ENABLE_Z_HOME_POS %}
    		G90
            G0 X{HOME_Z_X_POS} Y{HOME_Z_X_POS} F{HOMING_SPEED * 60}
		{% endif %}
    G28 Z
    G1 Z10
  {% endif %}

  RESTORE_GCODE_STATE NAME=HOMING